:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --light-blue: rgb(202, 202, 223);
    --dark-blue: rgb(106, 106, 179);
} 

.content {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: var(--primary-dark);
}
.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content .container .todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 80%;
    margin: 7px 0;
    border: 2px solid rgb(245, 120, 205);
    border-left: 5px solid rgb(245, 120, 205);
    border-right: 2px solid rgb(245, 120, 205);
    height: 50px;
    background: white;
}
.content .container .todo:first-child {
    margin-top: 50px;
}
.content .container .todo:last-child {
    margin-bottom: 50px;
}
.content .container .todo .item {
    display: flex;
    align-items: center;
    padding: 0 0 0 4px;
    border-left: 2px solid var(--light-blue);
    height: 100%;
    width: 100%;
}
.content .container .todo .item:first-child {
    border-left: none;
}
.content .container .todo input[type=checkbox] {
    margin: 20px;
    width: 50px;
    height: 50px;
    padding: 40px 20px;
}

.content .container .todo .detail, .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border-left: 2px solid var(--light-blue);
    height: 100%;
    width: 120px;
}
.content .container .todo .date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    padding: 3px 9px;
    font-size: small;
    font-weight: bold;
    border: none;
    color: rgb(113, 105, 214);
}
.content .container .todo .detail-btn, .date, .edit-btn {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgb(106, 106, 179);
    color: rgb(106, 106, 179);
    padding: 3px 10px;
    background: transparent;
}
.content .container .todo .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border-left: 2px solid var(--light-blue);
    height: 100%;
    width: 120px;
}
.content .container .todo .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgb(196, 132, 132);
    color: rgb(196, 132, 132);
    background: transparent;
}
.content .container .todo .delete-btn svg {
    width: 70%;
    height: auto;
    fill: rgb(196, 132, 132);
}
.content .container .todo .edit-btn svg {
    width: 80%;
    height: auto;
    fill: var(--dark-blue);
}
.content .container .todo .delete-btn:hover, .detail-btn:hover, .edit-btn {
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .content {
        width: 100%;
        min-height: min-content;
    }
    .content .container .todo:first-child {
        margin-top: 50px;
    }
    .content .container .todo:last-child {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 580px){
    .content .container .todo {
        width: 70%;
        height: 35px;
    }
    .content .container .todo .edit-btn {
        width: 25px;
        height: 25px;
        padding: 0;
    }
    .content .container .todo .detail-btn {
        padding: 0 3px;
    }

} 
@media only screen and (max-width: 500px){
    .content .container .todo {
        width: 60%;
        height: 35px;
    }
    .content .container .todo:first-child {
        margin-top: 50px;
    }
} 

@media only screen and (max-width: 414px){
    .content .container .todo {
        font-size: x-small;
        width: 50%;
        height: 35px;
    }
    .content .container .todo input[type=checkbox] {
        margin: 5px;
        width: 50px;
        height: 50px;
    }
    .content .container .todo .date {
        font-size: xx-small;
    }
    .content .container .todo .item {
        font-size: small;
    }
    .content .container .todo .edit-btn {
        width: 17px;
        height: 17px;
        padding: 0;
    }
} 
@media only screen and (max-width: 360px){
    .content .container .todo {
        width: 45%;
        height: 35px;

    }
    .content .container .todo .item {
        height: 100%;
        width: 70%;
        font-size: x-small;
    }
    .content .container .todo .date {
        width: 40px;
        font-size: xx-small;
    }
} 