:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --light-blue: rgb(202, 202, 223);
    --light-dark: rgb(0,0,0,0.8);
} 

.sidebar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    color: white;
    /* background: white; */
    background: rgb(122, 122, 238);
}

.home {
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0.9;
    padding: 10px 0;
    font-size: 20px;
    background: var(--light-dark);
}
.home:nth-child(1), .project:nth-child(2) {
    opacity: 0.7;
    border-bottom: 2px solid white;
}
.project {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    opacity: 0.9;
    padding: 10px 0;
    background: var(--light-dark);
}
.home:hover, .project:hover, .cate:hover {
    cursor: pointer;
    background: #bdb7b7;
}
.cate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    width: 100%;
    height: 8px;
    font-size: 18px;
    opacity: 0.9;
    padding: 18px 0 18px 0;
    background: var(--light-dark);
}
@media only screen and (max-width: 700px){
    .sidebar {
        background: rgb(122, 122, 238);
        bottom: 0;
        display: none;
        height: auto;
        margin-top: 0;
    }
    .home, .project {
        font-size: 18px;
    }
    .cate {
        font-size: 14px;
        padding: 18px;
        margin-bottom: 0;
        bottom: 0;
    }
}