:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;

}

* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
    width: 100%;
    height: 100vh;
} 
.nav {
    background: black;
    color: var(--primary-light);
    grid-column: 1/4;
}
.sidebar {
    background: var(--primary-light);
}
.content {
    background: var(--secondary-light);
    grid-column: 2/4;
}